/* 头部媒体查询 */

/* 媒体查询 */

@media screen and (min-width:991px) {
    .hidden_md {
        display: none;
    }
}

@media screen and (max-width:991px) and (min-width:567px) {
    .hidden_md,
    .hidden_md_li {
        display: none;
    }
}

@media screen and (max-width:576px) {
    .hidden_about {
        margin-left: 0 !important;
    }
    .hidden_md {
        display: block;
    }
    #banner {
        height: 40rem;
        background: url(../img/hero-banner-homepage.image.small_2x.jpg) no-repeat center center;
    }
}

/* 轮播样式 */

#banner {
    height: 45rem;
    background: url(../img/hero-banner-homepage.image.large_2x.jpg) no-repeat center center;
}
#banner h1 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: .006em;
}



#search {
    width: 28rem;
    box-sizing: border-box;
}

#search i {
    font-size: 1.5rem;
    color: #C9C9C9;
}

#search input {
    width: 23rem !important;
}
.form-control:focus {
    box-shadow: 0 0 0 0;
  }

#search ul li {
    padding-left: 1.5rem;
    height: 2.5rem;
}

#search #ul_list {
    display: none;
}
/* 主体样式 */
div.iphone{
    background: url(../img/banner-hero-giveback-support.image.large_2x.jpg) no-repeat center center;
}
.a_color{
    font-size:1.5rem;
    color: #2D7DD6;
}
.p_size{
    font-size:1.5rem;
}
#body_section{
    background: url(../img/today-at-apple-workshop-banner.image.large_2x.jpg) no-repeat center center;
    color: #fff;
}