/* 轮播样式 */
#banner {
    height: 46rem;
    background: url(../img/hero-banner-homepage.image.large_2x.jpg) no-repeat center center;
    background-size: 100%;
}

#banner h1 {
    font-size: 3.5rem;
    font-weight: 500;
    letter-spacing: .006em;
}

#search {
    width: 28rem;
    box-sizing: border-box;
}

#search i {
    font-size: 1.5rem;
    color: #C9C9C9;
}

#search input {
    width: 23rem !important;
}
.form-control:focus {
    box-shadow: 0 0 0 0;
  }

#search ul li {
    padding-left: 1.5rem;
    height: 2.5rem;
}

#search #ul_list {
    display: none;
}
/* 主体样式 */
div.iphone{
    height: 33rem;
    background: url(../img/banner-hero-giveback-support.image.large_2x.jpg) no-repeat center center;
    background-size: 100%;
}
.a_color{
    font-size:1.5rem;
    color: #2D7DD6;
}
.p_size{
    font-size:1.5rem;
}
